.btn--excel .btn__inner {
    background: #d0d0d0;
    color: #222;
    font-weight: 400
}

.btn--excel:hover .btn__inner {
    background: #c3c3c3
}

.btn--excel .btn__inner:after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    /*background-image: url(/img/excel_logo.svg);*/
    background-repeat: no-repeat;
    background-size: 1rem 1rem
}

.btn--excel .btn__inner:after {
    content: "";
    margin: 0 0 0 .5rem;
    vertical-align: middle
}
